<html>
    <title>Canteen1</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
    <style>
        body, html {height: 100%}
        body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
        .menu {display: none}
        .bgimg {
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url("../food1.jpg");
          min-height: 90%;
        }
        </style>
    <body>
<!-- Menu Container -->
<div class="w3-container w3-black w3-padding-64 w3-xxlarge" id="menu">
    <div class="w3-content">
    
      <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">THE MENU</h1>
      <div class="w3-row w3-center w3-border w3-border-dark-grey">
        <a href="javascript:void(0)" onclick="openMenu(event, 'Breakfast');" id="myLink">
          <div class="w3-col s4 tablink w3-padding-large w3-hover-red">Breakfast</div>
        </a>
        <a href="javascript:void(0)" onclick="openMenu(event, 'Lunch');">
          <div class="w3-col s4 tablink w3-padding-large w3-hover-red">Lunch</div>
        </a>
        <a href="javascript:void(0)" onclick="openMenu(event, 'Drinks');">
          <div class="w3-col s4 tablink w3-padding-large w3-hover-red">Drinks</div>
        </a>
      </div>
  
      <div id="Breakfast" class="w3-container menu w3-padding-32 w3-white">
        <h1><b>Poha</b> <span class="w3-right w3-tag w3-dark-grey w3-round">20.00rs</span></h1>
        <hr>
     
        <h1><b>Idle</b> <span class="w3-right w3-tag w3-dark-grey w3-round">30.00rs</span></h1>
        <hr>
        
        <h1><b>Bread Butter</b> <span class="w3-right w3-tag w3-dark-grey w3-round">10.00rs</span></h1>
        <hr>
  
        <h1><b>medu vada</b> <span class="w3-right w3-tag w3-dark-grey w3-round">25.00rs</span></h1>
        <hr>
  
        <h1><b>upma</b> <span class="w3-tag w3-red w3-round"></span><span class="w3-right w3-tag w3-dark-grey w3-round">20.00rs</span></h1>
        <hr>
  
      </div>
  
      <div id="Lunch" class="w3-container menu w3-padding-32 w3-white">
        <h1><b>Veg Thali</b> <span class="w3-tag w3-grey w3-round"></span> <span class="w3-right w3-tag w3-dark-grey w3-round">70.00rs</span></h1>
        <hr>
     
        <h1><b>Pav Bhaji</b> <span class="w3-right w3-tag w3-dark-grey w3-round">50.00rs</span></h1>
        <hr>
        
        <h1><b>Chicken Biryani</b> <span class="w3-right w3-tag w3-dark-grey w3-round">80.00rs</span></h1>
        <hr>
      </div>
  
  
      <div id="Drinks" class="w3-container menu w3-padding-32 w3-white">
        <h1><b>tea & coffee</b> <span class="w3-tag w3-grey w3-round"></span><span class="w3-right w3-tag w3-dark-grey w3-round">10.00rs</span></h1>
        <hr>
     
        <h1><b>Cold drinks</b> <span class="w3-right w3-tag w3-dark-grey w3-round">30.00rs</span></h1>
        <p class="w3-text-grey">pepsi,coca cola,thumbs up,Maaza,slice</p>
        <hr>
        
        <h1><b>water</b> <span class="w3-right w3-tag w3-dark-grey w3-round">10.00rs</span></h1>
        <p class="w3-text-grey">cold,normal</p>
        <hr>
      </div><br>
  
    </div>
  </div>
  <script>
    // Tabbed Menu
    function openMenu(evt, menuName) {
      var i, x, tablinks;
      x = document.getElementsByClassName("menu");
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < x.length; i++) {
         tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
      }
      document.getElementById(menuName).style.display = "block";
      evt.currentTarget.firstElementChild.className += " w3-red";
    }
    document.getElementById("myLink").click();
    </script>

  </body>
  </html>