<%- include('partials/header') %>
<!-- <center> <h1> Student Login Form </h1> </center>
<form>
    <div class="container">
        <label>Username : </label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <label>Password : </label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <button type="submit">Login</button>
        <input type="checkbox" checked="checked"> Remember me
        <button type="button" class="cancelbtn"> Cancel</button>
        Forgot <a href="#"> password? </a>
    </div>
</form> -->
<div class="container">
    <div class="row">
        <div class="col-12 centered">
            <p class="lead page-text">Welcome <span style="color: #00FE12;"></span>, to Admin Page</p>
            <div class="card mx-auto">
                <div class="card-header">Login Page</div>
                <div class="card-body">
                    <h5 class="card-title">Employee Managment System</h5>
                    <p class="card-text">You can use your E-mail to register</p>
                    <p class="card-text">Else you can login with your account</p>
                    <p class="card-text">Made with love by Pranay and the Gang!</p>
                    <p class="card-text"></p>
                    <hr>
                    <div class="row centered">
                        <div class="col-12">
                            <a class="btn btn-outline-danger btn-lg" href="/canteen" role="button">Canteen</a>
                            <a class="btn btn-outline-success btn-lg" href="/login" role="button">Test</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<%- include('partials/footer') %>