<%- include('partials/header') %>
  
  <section class="header4 cid-snpQeZd4S0 mbr-fullscreen" id="header4-0">

    

    <div class="container">
        <h1 class="mbr-fonts-style mbr-section-title align-left mbr-white mbr-bold mbr-pb-2 display-1">
            F Society</h1>
        
        <div class="mbr-section-btn align-left"><a class="btn btn-md btn-white display-4" href="\login" target="_blank">Let Me in!</a></div>
    </div>

  
  
<%- include('partials/footer') %> 
