<%- include('Login/login-header') %>

<form class="box" method="post">
	<h1>LOGIN</h1>
		<input type="text" name="" placeholder="Username">
		<input type="password" name=""placeholder="password">
		<a href="/admin"> 
		<input type="button" name=""value="LOGIN"></a>
		
	</form>

	<%- include('partials/footer') %>