 body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #34495e;
	background-image: url("/images/background.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.box{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	/* background: #191919; */
	text-align: center;
}
.box h1{
	color: black;
	text-transform: none;
	font-weight: 500;
}
.box input[type="text"],.box input[type="password"]{
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border:2px solid black;
	padding: 14px 10px;
	width: 280px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
}
.box input[type="text"]:focus,.box input[type="password"]{
	width:280px;
	border-color:black;
}
.box input[type="button"]{
	border: 0;
	background:0;
	display: block;
	margin: 20px auto;
	text-align: center;
	border:2px solid black;
	padding: 14px 40px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.box a{
	text-decoration: none;
}

.box input[type ="button"]:hover{
	background: #2ecc71;
}

::placeholder { 
	color: black;
	opacity: 1; 
  }
