<!DOCTYPE html>
<html>
<title>Canteen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<style>
body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
.menu {display: none}
.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/food.jpg");
  min-height: 90%;
}
h1 {text-align: center;
padding-top: 20%;
font-size: 45px;
}
</style>
<body>
  
<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-padding">
  </div>
  <div class="w3-display-middle w3-center">
  </div>
 <a href="/canteen_menu"> 
    <h1>get a meal<h1>
    </a>
</header>
