<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale = 1.0, user-scalable = no">
    <title>Car_Parking</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="left_area">
            <h3> F <span>Society</span></h3>
        </div>
    </header>
    <center>
        <div class="container">
            <h2>Select Your Dates</h2>
            <h4>Entry date and time</h4>
            <form>
                <input type="date">
                <input type="time">
            </form>
            <h4>Exit date and time </h4>
            <form>
                <input type="date">
                <input type="time">
            </form>
            <p> </p>
            <form action="bookconfirm">
                <button class="btn space" type="submit">Choose your space</button>
            </form>
        </div </center>
</body>

</html>