<html>

<head>
  <title>First Page</title>
  <link rel="stylesheet" type="text/css" href="/css/firstpage.css" />
</head>

<body>
  <div class="container">
    <div class="top-right"><u>Order Food</u></div>
    <img src="/images/Food.jpg" />
    <a href="store"><button class="btn">Get a Meal</button></a>
  </div>
</body>

</html>