<!DOCTYPE html>
<html>
    <head>
        <title>Canteen</title>
        <meta name="description" content="This is the description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/store.css">
        <script src="/js/store.js" async></script>
    </head>
    <body>
        <header class="main-header">
            <div class="left_area">
                <h3> F <span>Society</span></h3>
                <div class="wrapper">
                    <nav>
                    <ul>
                        <li><a href="/logout"class="logout_btn">logout</a></li>
                        <li>menu
                            <ul>
                                <li><a href="breakfast"> breakfast</a></li>
                                <li><a href="lunch">lunch</a></li>
                            </ul>
                        </li>
                    </ul>
                    </nav>
                    </div>
            </div>
        </header>
        <section class="container content-section">
            <div class="shop-items">
                <div class="shop-item">
                    <div class="box">
                    <span class="shop-item-title">Chicken Biryani</span>
                    <img class="shop-item-image" src="Images/chicken.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₹120</span>
                        <button id="myButton" class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                    </div>
                </div>
                <div class="shop-item">
                    <div class="box">
                    <span class="shop-item-title">Veg thali</span>
                    <img class="shop-item-image" src="Images/veg thali1.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₹50</span>
                        <button id="myButton1" class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                    </div>
                </div>
                <div class="shop-item">
                    <div class="box">
                    <span class="shop-item-title">Pav Bhaji</span>
                    <img class="shop-item-image" src="Images/pav bhaji1.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₹40</span>
                        <button id="myButton2" class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                    </div>
                </div>
                <div class="shop-item">
                    <div class="box">
                    <span class="shop-item-title">Cold Drink</span>
                    <img class="shop-item-image" src="Images/cold drink.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₹20</span>
                        <button id="myButton3" class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="new">
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <!-- <span class="cart-quantity cart-header cart-column">QUANTITY</span> -->
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">₹0</span>
            </div>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        </section>
    </body>
</html>