<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/support.css">
</head>

<body>
	<header>
		<div class="left_area">
			<h3> F <span>Society</span></h3>
		</div>
		<form action="support" method="POST">
			<div class="contact-form">
				<div class="input-fields">
					<input type="text" class="input" placeholder="Name" name="name3">
					<input type="text" class="input" placeholder="Email" name="email3">
					<input type="text" class="input" placeholder="Phone number" name="number3">
				</div>
				<div class="msg">
					<textarea placeholder="message" name="message"></textarea>
					<input type="submit" class="btn" name="submit">
		</form>
		</div>
		</div>
	</header>
</body>

</html>