<html>

<head>

  <title>Home Page</title>

  <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>

<body>

  <div class="head">F Society</div>
  <a href="\login">
    <div class="button"><input type="button" value="Let Me in!"></button></div>
  </a>

</body>

</html>