<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"  href="/css/registeruser.css">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>		
	<input type="checkbox" id="check">
	<header>
		<label for="check">
		<i class="fas fa-bars" id="sidebar_btn"></i>
	</label>
		<div class="left_area">
	<h3> F <span>Society</span></h3>
	</div> 
	<div class="right_rea">
		<a href="/logout" class="logout_btn">logout</a>
	</div>

	
	<div class="container">
		<form action="registeruser" method="POST">		
<div class="title">Registeration</div>

	
	<div class="user-details">
		<div class="input-box">
		<span class="details">Name</span>
		<input type="text" placeholder="" name="name1">

	</div>
	<div class="input-box">
		<span class="details">Age</span>
		<input type="text" placeholder="" name="age">

	</div>
	<div class="input-box">
		<span class="details">DOB</span>
		<input type="text" placeholder="" name="dob">

	</div>
	<div class="input-box">
		<span class="details">Phone NO</span>
		<input type="text" placeholder=" " name="phone">

	</div>
	<div class="input-box">
		<span class="details">Email</span>
		<input type="text" placeholder="" name="email">

	</div>
	<div class="input-box">
		<span class="details">Aadhar NO</span>
		<input type="text" placeholder="" name="aadhar">

	</div>
	<div class="input-box">
		<span class="details">Password</span>
		<input type="password" placeholder="" name="password">

	</div>
	<div class="input-box">
		<span class="details"> confirm Password</span>
		<input type="password" placeholder="" name="password2">
	</div>
	<div class="gender-details">
	<input type="radio" name="gender" value="male" id="dot-1">
	<input type="radio" name="gender" value="female" id="dot-2">
	<Span class="gender-title">Gender</Span>
	<div class="category">
	<label for="dot-1">
	<Span class="dot one"></Span>
	<span class="gender">Male</span>
</label>
<label for="dot-2">
	<Span class="dot two"></Span>
	<span class="gender">Female</span>
</label>
<input type="submit" class="btn" name="submit">
</div>
</div>


</div>
</form>	

</header>
<div class="sidebar">
	<center>
		<img src="/images/admin.png"class="admin_image" alt="">
		<h4>Pranay</h4>
	</center>
	<a href="dashboard"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
	<a href="userdetails"><i class="fas fa-user"> </i><span>Employee</span></a>
	<a href="registeruser"><i class="fas fa-registered"> </i><span>Registration</span></a>
	
	<a href="canteen"><i class="fas fa-utensils"></i><span>Canteen</span></a>
	<a href="Announcement"><i class="fas fa-scroll"></i><span>Announcement</span></a>
	<a href="feedback"><i class="fas fa-comment-dots"></i><span>Support</span></a>
</div> 
<div class="content"></div>
</body>
</html>